In [1]:
import os
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [3]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 2.8MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl size=247949 sha256=de9dd747fe4048e0867f9c24fe232310bc63fc1eabbef18fce5f3162d261f422
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [4]:
!pip install turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/05/bf/d1c74d5002be47db24b13adde42e5898b1ff63cae31e582ddd908006ae37/turicreate-5.8-cp36-cp36m-manylinux1_x86_64.whl (90.7MB)
     |████████████████████████████████| 90.7MB 1.4MB/s
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.24.2)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.21.0)
Collecting mxnet<1.2.0,>=1.1.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/96/98/c9877e100c3d1ac92263bfaba7bb8a49294e099046592040a2ff8620ac61/mxnet-1.1.0.post0-py2.py3-none-manylinux1_x86_64.whl (23.8MB)
     |████████████████████████████████| 23.8MB 35.6MB/s
Collecting pillow>=5.2.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/19/66/6113477dc3206ccb1e192cffd626f2840ead02375a6cebe2436ad4c19f61/Pillow-6.2.0-cp36-cp36m-manylinux1_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 31.6MB/s
Collecting numpy==1.16.4 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/87/2d/e4656149cbadd3a8a0369fcd1a9c7d61cc7b87b3903b85389c70c989a696/numpy-1.16.4-cp36-cp36m-manylinux1_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 26.2MB/s
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.12.0)
Collecting resampy==0.2.1 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 43.8MB/s
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.0)
Collecting coremltools==3.0b3 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/b8/89/b69e3d446dbfe5632a8f24be0c7d03b19bcc6c0a0bd3d84c83c6680bb602/coremltools-3.0b3-cp36-none-manylinux1_x86_64.whl (3.4MB)
     |████████████████████████████████| 3.4MB 29.9MB/s
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Collecting graphviz<0.9.0,>=0.8.1 (from mxnet<1.2.0,>=1.1.0->turicreate)
  Downloading https://files.pythonhosted.org/packages/53/39/4ab213673844e0c004bed8a0781a0721a3f6bb23eb8854ee75c236428892/graphviz-0.8.4-py2.py3-none-any.whl
Requirement already satisfied: numba>=0.32 in /usr/local/lib/python3.6/dist-packages (from resampy==0.2.1->turicreate) (0.40.1)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.0b3->turicreate) (3.7.1)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->coremltools==3.0b3->turicreate) (41.2.0)
Building wheels for collected packages: resampy
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp36-none-any.whl size=320847 sha256=9c4160583d4d7d58fac8192745bdc353123513ab3cd9764c7967db2a91a7ab98
  Stored in directory: /root/.cache/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
Successfully built resampy
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement numpy<1.15.0,>=1.8.2, but you'll have numpy 1.16.4 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement requests<2.19.0,>=2.18.4, but you'll have requests 2.21.0 which is incompatible.
Installing collected packages: graphviz, numpy, mxnet, pillow, resampy, coremltools, turicreate
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Found existing installation: numpy 1.16.5
    Uninstalling numpy-1.16.5:
      Successfully uninstalled numpy-1.16.5
  Found existing installation: Pillow 4.3.0
    Uninstalling Pillow-4.3.0:
      Successfully uninstalled Pillow-4.3.0
  Found existing installation: resampy 0.2.2
    Uninstalling resampy-0.2.2:
      Successfully uninstalled resampy-0.2.2
Successfully installed coremltools-3.0b3 graphviz-0.8.4 mxnet-1.1.0.post0 numpy-1.16.4 pillow-6.2.0 resampy-0.2.1 turicreate-5.8

In [0]:
# importing packages
import pandas as pd
import numpy as np
import re
import mysql.connector
from sqlalchemy import create_engine
from html.parser import HTMLParser
import turicreate as tc

In [0]:
# connecting to the sql database of lucid blog which was hosted remotely
mydb = mysql.connector.connect(host="remotemysql.com",user="8SawWhnha4", passwd="zFvOBIqbIz",database="8SawWhnha4")

# The mysql engine to be queried and read 

engine = create_engine('mysql+mysqlconnector://8SawWhnha4:zFvOBIqbIz@remotemysql.com/8SawWhnha4')

df_posts2 = pd.read_sql_query("""SELECT id AS post_id,title,content,tags 
                            FROM posts""", engine)

##### program code to read file as json
path = '/team_python/posts.json'
df_posts = pd.read_json(path)
###### df_posts.head()

##### Dropping irrelevant cols
col = ['slug', 'created_at', 'updated_at', 'image', 'action', 'status_id', 'post_id', 'user_id']

df_posts2 = df_posts.drop(col, axis=1)
df_posts2.rename(columns={'id': 'post_id'}, inplace = True)
###### df_posts2.head()

df_posts2.shape

In [11]:
df_posts2.head()

   post_id  ...        tags
0        1  ...        None
1        2  ...  Technology
2        4  ...        None
3        6  ...        None
4        7  ...        None

[5 rows x 4 columns]

In [0]:
# Functions for cleaning data
class MLStripper(HTMLParser):
    '''inherting the html parser to remove all matching html tags'''
    def __init__(self):
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ''.join(self.fed)

def strip_tags(html):
    '''functions that instantiates the MLStripper class and passed the text ''' 
    s = MLStripper()
    s.feed(html)
    return s.get_data()

def strip_line(x):
    '''removes regex and extra spaces'''
    stri = re.sub(r'[^\w]', ' ', x)
    return stri.strip()

In [0]:
# Applying functions to clean data
df_posts2['content'] = df_posts2['content'].map(strip_tags)
df_posts2['content'] = df_posts2['content'].map(strip_line)
df_posts2['content'] = df_posts2['content'].map(lambda x: x.strip().lower())
df_posts2['title'] = df_posts2['title'].apply(lambda x: x.strip().lower())

# features that will be usd to find similarity between posts
features = ['title', 'content', 'tags']

# replace nonetypes with empty string
df_posts2[features] = df_posts2[features].fillna('')
# df_posts2.head()

In [15]:
# creating a combined features column that has applyed the combine_features function to each row 
def combine_features(row):
    ''' combine features together to find similarity '''
    try:
        return row['title']+" "+row['content']+" "+row['tags']
    except:
        pass

df_posts2['combined_features'] = df_posts2.apply(combine_features, axis=1)
data = df_posts2.drop(features, axis=1)
data.head()

   post_id                                  combined_features
0        1  what i have learnt so far on html i learnt how...
1        2  html begins here i am on this journey with sta...
2        4  my laziness in the open i have not been attend...
3        6  my task 2 my journey on   startng   pre intern...
4        7  task 2 a summary on the  idongesit html  cv  i...

In [16]:
# Checking missing values
data.isnull().sum()

post_id              0
combined_features    0
dtype: int64

In [0]:
# converting data to turicreate Sframe
data2 = tc.SFrame(data)

In [0]:
# creating model turicreate inbuilt model: 'item_content_recommender'
contentbased_model = tc.recommender.item_content_recommender.create(item_data=data2, item_id='post_id', verbose=False)

In [0]:
#Construct a reverse map of indices and post titles
indices = pd.Series(df_posts2['post_id'].values, index=df_posts2['title'].values)
indices2 = pd.Series(df_posts2['title'].values, index=df_posts2['post_id'].values)


def get_recommendations(title, indices=indices): # Function to get 5 recommendations based on similar posts
  
  try:
    idx = indices[title.lower()]

    # Get 5 recommendations based on similar post
    rec = list(contentbased_model.recommend_from_interactions([idx], k=5))
    
    # Get post_id of recommended posts
    post_id = [rec[x]['post_id'] for x, i in enumerate(rec)]
    
    # Return the top 5 most similar posts
    print("RECOMMENDATIONS BASED ON YOUR READING PATTERN\n")
    return indices2.loc[post_id]
  
  except KeyError:
    print("We Have No Recommendations For You!")

In [0]:
# testing model
# title = input('Enter the title of a post\n')
title = 'html begins here'
get_recommendations(title)

RECOMMENDATIONS BASED ON YOUR READING PATTERN

7                                 task 2
900                   my first html page
140                 introduction to html
663       start.ng: work done using html
664    start.ng: work done so far - html
dtype: object

In [0]:
# saving model for production deployment
contentbased_model.save("/gdrive/My Drive/hngi6/Contentbased_model")