In [9]:
import os
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [0]:
!pip install turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/05/bf/d1c74d5002be47db24b13adde42e5898b1ff63cae31e582ddd908006ae37/turicreate-5.8-cp36-cp36m-manylinux1_x86_64.whl (90.7MB)
     |████████████████████████████████| 90.7MB 256kB/s
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.3.1)
Collecting pillow>=5.2.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/19/66/6113477dc3206ccb1e192cffd626f2840ead02375a6cebe2436ad4c19f61/Pillow-6.2.0-cp36-cp36m-manylinux1_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 37.6MB/s
Collecting numpy==1.16.4 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/87/2d/e4656149cbadd3a8a0369fcd1a9c7d61cc7b87b3903b85389c70c989a696/numpy-1.16.4-cp36-cp36m-manylinux1_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 38.8MB/s
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.24.2)
Collecting mxnet<1.2.0,>=1.1.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/96/98/c9877e100c3d1ac92263bfaba7bb8a49294e099046592040a2ff8620ac61/mxnet-1.1.0.post0-py2.py3-none-manylinux1_x86_64.whl (23.8MB)
     |████████████████████████████████| 23.8MB 47.3MB/s
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.0)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.21.0)
Collecting coremltools==3.0b3 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/b8/89/b69e3d446dbfe5632a8f24be0c7d03b19bcc6c0a0bd3d84c83c6680bb602/coremltools-3.0b3-cp36-none-manylinux1_x86_64.whl (3.4MB)
     |████████████████████████████████| 3.4MB 32.9MB/s
Collecting resampy==0.2.1 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 56.1MB/s
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Collecting graphviz<0.9.0,>=0.8.1 (from mxnet<1.2.0,>=1.1.0->turicreate)
  Downloading https://files.pythonhosted.org/packages/53/39/4ab213673844e0c004bed8a0781a0721a3f6bb23eb8854ee75c236428892/graphviz-0.8.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.0b3->turicreate) (3.7.1)
Requirement already satisfied: numba>=0.32 in /usr/local/lib/python3.6/dist-packages (from resampy==0.2.1->turicreate) (0.40.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->coremltools==3.0b3->turicreate) (41.2.0)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
Building wheels for collected packages: resampy
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp36-none-any.whl size=320847 sha256=e75d1f109a586d102e5f7e1b6e0a74162ed32b86b66f2ed07e07a62a0b43ff0a
  Stored in directory: /root/.cache/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
Successfully built resampy
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement numpy<1.15.0,>=1.8.2, but you'll have numpy 1.16.4 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement requests<2.19.0,>=2.18.4, but you'll have requests 2.21.0 which is incompatible.
Installing collected packages: pillow, numpy, graphviz, mxnet, coremltools, resampy, turicreate
  Found existing installation: Pillow 4.3.0
    Uninstalling Pillow-4.3.0:
      Successfully uninstalled Pillow-4.3.0
  Found existing installation: numpy 1.16.5
    Uninstalling numpy-1.16.5:
      Successfully uninstalled numpy-1.16.5
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Found existing installation: resampy 0.2.2
    Uninstalling resampy-0.2.2:
      Successfully uninstalled resampy-0.2.2
Successfully installed coremltools-3.0b3 graphviz-0.8.4 mxnet-1.1.0.post0 numpy-1.16.4 pillow-6.2.0 resampy-0.2.1 turicreate-5.8

In [0]:
# importing packages
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from html.parser import HTMLParser
import turicreate as tc

In [0]:
path = '/gdrive/My Drive/hngi6/team_python/posts.json'

In [0]:
df_posts = pd.read_json(path)

In [0]:
# df_posts.head()

In [0]:
df_posts.shape

(876, 12)

In [0]:
# Dropping irrelevant cols
col = ['slug', 'created_at', 'updated_at', 'image', 'action', 'status_id', 'post_id', 'user_id']

df_posts2 = df_posts.drop(col, axis=1)
df_posts2.rename(columns={'id': 'post_id'}, inplace = True)
# df_posts2.head()

In [0]:
# Functions for cleaning data
class MLStripper(HTMLParser):
    '''inherting the html parser to remove all matching html tags'''
    def __init__(self):
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ''.join(self.fed)

def strip_tags(html):
    '''functions that instantiates the MLStripper class and passed the text ''' 
    s = MLStripper()
    s.feed(html)
    return s.get_data()

def strip_line(x):
    '''removes regex and extra spaces'''
    stri = re.sub(r'[^\w]', ' ', x)
    return stri.strip()

In [0]:
# Applying functions to clean data
df_posts2['content'] = df_posts2['content'].map(strip_tags)
df_posts2['content'] = df_posts2['content'].map(strip_line)
df_posts2['content'] = df_posts2['content'].map(lambda x: x.strip().lower())
df_posts2['title'] = df_posts2['title'].apply(lambda x: x.strip().lower())

# features that will be usd to find similarity between posts
features = ['title', 'content', 'tags']

# replace nonetypes with empty string
df_posts2[features] = df_posts2[features].fillna('')
# df_posts2.head()

In [122]:
# creating a combined features column that has applyed the combine_features function to each row 
def combine_features(row):
    ''' combine features together to find similarity '''
    try:
        return row['title']+" "+row['content']+" "+row['tags']
    except:
        pass

df_posts2['combined_features'] = df_posts2.apply(combine_features, axis=1)
data = df_posts2.drop(features, axis=1)
data

     post_id                                  combined_features
0          1  what i have learnt so far on html i learnt how...
1          2  html begins here i am on this journey with sta...
2          4  my laziness in the open i have not been attend...
3          6  my task 2 my journey on   startng   pre intern...
4          7  task 2 a summary on the  idongesit html  cv  i...
5          8  my journey on html using the hyper text markup...
6          9  startng html exposition storage 2040 images im...
7         11  my task 2 my journey on   startng   pre intern...
8         12  startng html task i have learned a lot about h...
9         13  on startng pre-internship what i have learned ...
10        15                                  why lucid why na
11        16  please note the screenshot of my html cv attac...
12        20  hng internship journey so far so far on the hn...
13        21  what i done so far i have learnt about html ta...
14        23  learnt learn and learning so far into the worl...
15        24  learning web development at startng with this ...
16        25  the journey with startng: creating my cv with ...
17        26  what i have done so far on start.ng when i emb...
18        27  task number 7 what i have learnt so far  even ...
19        29  what has been learnt so far? it has been an in...
20        30  what i have done so far on html storage 225 im...
21        32  task 2 hi guys          on the previous post i...
22        33  curriculum vitae in html exploring the possibi...
23        34  hng start.ng task 2 the second task that was a...
24        35  kikkymakz 1   achieveing this was a huge succe...
25        36  startng task one what i have learnt so far    ...
26        37  the journey so far i just created my first htm...
27        39  html: the journey so far. html  hypertext mark...
28        40  public journal :task 2. html cv firstly i cant...
29        41  my cv using html this week s task opened my ey...
..       ...                                                ...
846      967  css (cascading style sheet) css  cascading sty...
847      968  css has added beauty to my webpage working wit...
848      969  my html experience i have gotten to the second...
849      970  ella's start-ng experience to be honest  how d...
850      980                                       post title
851      981  html test html                       faces    ...
852      982  your high iq will kill your startup in 2004 i ...
853      983  a chinese villager who sells more software dai...
854      984  build around your discovery mechanism when you...
855      985  don't ask why you were rejected i ve noticed s...
856      986  the sunflower a field of sunflowers sat beside...
857      987  welcome to lucid here you get the best of blog...
858      988                     this is lucid i love this app
859      989           this is a test post i need this to work
860      991  post with two images here and now man       st...
861      992                                 this is mine mine
862      993  your face php script this is what you see     ...
863      994                                 first first Health
864      995  second second     storage 1 images img ga0dlp9...
865      996  third third     storage 1 images img hta9olnji...
866      998  with picture storage 2 images img rw5rbxsjg4 j...
867      999  test jnlkj               storage 4 images img ...
868     1000                                   asda plain test
869     1001                                   speed of light
870     1002  am ok let s do this ooooooooooooooo edit and b...
871     1003         jbhjkhkbb jkhbjilbjhb v hvhjbv h hbv jhkv
872     1004  testing tags and really long posts testing tag...
873     1005                 testing image test if image works
874     1006                                             test
875     1007  my first post about time i made one  bold work...

[876 rows x 2 columns]

In [123]:
# Checking missing values
df_posts2.isnull().sum()

content              0
post_id              0
tags                 0
title                0
combined_features    0
dtype: int64

In [0]:
# converting data to turicreate Sframe
data2 = tc.SFrame(data)

In [0]:
contentbased_model = tc.recommender.item_content_recommender.create(item_data=data2, item_id='post_id', verbose=False)

In [0]:
#Construct a reverse map of indices and post titles
indices = pd.Series(df_posts2['post_id'].values, index=df_posts2['title'].values)
indices2 = pd.Series(df_posts2['title'].values, index=df_posts2['post_id'].values)


def get_recommendations(title, indices=indices): # Function to get 5 recommendations based on similar posts
  
  try:
    idx = indices[title.lower()]

    # Get 5 recommendations based on similar post
    rec = list(contentbased_model.recommend_from_interactions([idx], k=5))
    
    # Get post_id of recommended posts
    post_id = [rec[x]['post_id'] for x, i in enumerate(rec)]
    
    # Return the top 5 most similar posts
    print("RECOMMENDATIONS BASED ON YOUR READING PATTERN\n")
    return indices2.loc[post_id]
  
  except KeyError:
    print("We Have No Recommendations For You!")

In [161]:
title = 'html begins here'
get_recommendations(title)

RECOMMENDATIONS BASED ON YOUR READING PATTERN

7                                 task 2
900                   my first html page
140                 introduction to html
663       start.ng: work done using html
664    start.ng: work done so far - html
dtype: object